<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timmy</title>

    <link rel="stylesheet" href="../styles/styleHome.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="../fontawesome/fontawesome/css/all.min.css"
    />
    <!--Ícones-->
  </head>
  <body>
    <h1>Timmy</h1>

    <div class="circle"></div>

    <div class="box">
      <h2 class="title">Comando:</h2>
      <p id="text"></p>
    </div>

    <div class="buttons">
      <button class="play"><i class="fa-solid fa-play"></i></button>
      <button class="mic"><i class="fa-solid fa-microphone"></i></button>
    </div>
  </body>
</html>
