@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #89aba8;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 500;
  font-size: 78px;

  color: #1d3445;

  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.25);
}

.circle {
  width: 15vh;
  height: 15vh;
  background-color: #213645;
  opacity: 0.5;
  border-radius: 10000000px;

  position: absolute;
  top: 20vh;

  transition: 0.7s ease;
}

.active {
  width: 15vh;
  height: 15vh;
  opacity: 1;

  animation: circle-active 10s infinite;
}

@keyframes circle-active {
  0% {
    width: 16vh;
    height: 16vh;
  }
  10% {
    width: 17vh;
    height: 17vh;
  }
  30% {
    width: 15vh;
    height: 15vh;
  }
  40% {
    width: 16vh;
    height: 16vh;
  }
  70% {
    width: 18vh;
    height: 18vh;
  }
  90% {
    width: 14vh;
    height: 14vh;
  }
  100% {
    width: 14.5vh;
    height: 14.5vh;
  }
}

.box {
  background-color: #6d8b89;
  border-radius: 40px;

  width: 40vw;
  height: 30vh;
  min-width: 300px;
  padding: 10px 20px;

  position: absolute;
  top: 54vh;
}

.box .title {
  font-family: "Inter", sans-serif;
  font-size: 33px;

  text-align: center;

  color: rgba(0, 0, 0, 0.7);
}

.buttons {
  position: absolute;
  bottom: 15px;

  width: 95vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.buttons .play {
  width: 10%;
  height: 100%;
  min-width: 100px;
  border-radius: 20px;

  border: solid 4px #4f6e6c;
  border-bottom: solid 10px #4f6e6c;
  background-color: #789997;

  cursor: pointer;

  transition: 0.2s ease;
}

.buttons .mic {
  width: 10%;
  height: 100%;
  min-width: 100px;
  border-radius: 20px;

  border: solid 4px #4f6e6c;
  border-bottom: solid 10px #4f6e6c;
  background-color: #789997;

  cursor: pointer;

  transition: 0.2s ease;
}

.buttons button i {
  font-size: 180%;
  color: rgba(0, 0, 0, 0.7);
}

.buttons button:hover {
  border-bottom: solid 10px #4f6e6c;
  transform: translateY(-4px);
}

.buttons button:active {
  border-bottom: solid 4px #4f6e6c;
  transform: translateY(6px) scale(0.95);
}
